<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reports.ListenerTestNG"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/evyco/IdeaProjects/PageObjectModel1">
        <classes>
            <class name="testcases.EndToEnd">
                <methods>
                    <include name="tc_EndToEnd"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>